.header {
    width: 100%;
    height: 88px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #D9FFF5;

    &_navigation {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        position: 16px;
        padding-right: 16px;

        &_link {
            background-color: #FF3E79;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &-hidden {
                background-color: #FF3E79;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                @media (min-width: 768px) {
                    display: flex;
                }
            }
        }

        &_logo {
            width: 96px;
            height: 50px;
        }

        &_divider {
            width: 2px;
            height: 32px;
            background-color: #EAEAEA;
            border-radius: 8px;

            &-action {
                width: 2px;
                height: 32px;
                background-color: #EAEAEA;
                border-radius: 8px;
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }
        }
    }
}